<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- link_to "+ Service", new_my_service_path(:account_id => acct.id) -->
<%= link_to "Formal", theme_url(:theme => "formal"), method: :get %>
<%= link_to "Casual", theme_url(:theme => "casual"), method: :get %>
