<% if flash[:order_confirmed]  %>
  <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Order successfully confirmed!</strong>
  </div>
<% end %>
<div class="row" style="margin-top: 10vh; margin-left: 5vw; margin-right: 5vw;">
    <div class="col-md-6" style="text-align: center; display: flex;">
      <div class="home-card" style="background-image: url();" >
      </div>
    </div>
    <div class="col-md-6" style="text-align: center; display: flex;">
      <div class="home-card" style="background-image: url();" >
      </div>
    </div>
</div>
<!-- link_to "+ Service", new_my_service_path(:account_id => acct.id) -->
<%= link_to "Formal", theme_url(:theme => "formal"), method: :get %>
<%= link_to "Casual", theme_url(:theme => "casual"), method: :get %>
