<% if flash[:order_confirmed]  %>
  <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Order successfully confirmed!</strong>
  </div>
<% end %>

<div class="row">
    <div class="col-md-6" style="text-align: center; padding-right: 0;">
      <%= link_to theme_url(:theme => "casual"), method: :get do %>
        <div class="home-card home-card-formal" id="casual">
          <div class="home-card-gradient">
            <p>CASUAL</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6" style="text-align: center; padding-left: 0;">
      <%= link_to theme_url(:theme => "formal"), method: :get do %>
        <div class="home-card home-card-formal" id="formal">
          <div class="home-card-gradient">
            <p>FORMAL</p>
          </div>
        </div>
      <% end %>
    </div>
</div>
