<div class="landing-banner" style="background-image: url('<%= image_path 'landing-banner.jpg' %>');">
  <div class="landing-banner-gradient">
  </div>
  <div class="landing-banner-content">
    <h1>Buy our stuff</h1>
    <h2>Our stuff is awesome</h2>
    <br>
    <%= link_to "Get Fitted", home_path, class: "btn-beige" %>
  </div>
</div>


