<div class="landing-banner" style="background-image: url('<%= image_path 'landing.jpg' %>');">
  <div class="landing-banner-gradient">
    <%= link_to home_url, method: :get do %>
      <div class="landing-page-button">GET FITTED</div>
    <%end %>
  </div>
</div>
