.landing-banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 0;
}

.landing-banner-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(45deg, rgba(80, 80, 80, 0.6), rgba(80, 80, 80, 0.2));
  z-index: -1;
}

.landing-banner-content  {
  z-index: 1;
  margin: 80px;
  font-family: "Nunito";
  h1 {
    font-size: $title;
    font-weight: 700;
    color: white;
  }

  h2 {
    font-size: $header2;
    font-weight: 400;
    color: $beige-brand;
  }
}

.landing-banner-content {
  // color: #E0D9C6;

}

// .size-select-container {
//   margin-top: 1vh;
//   display: flex;
//   justify-content: space-between;
//   border: 1px solid black;
//   height: 5vh;
//   margin-bottom: 10vh;
//   padding-bottom: 0;
//   // text-align: right;
// }

.size-select-container select {
  border-radius: 0 !important;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container #video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 20vw;
  height: 20vh;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

