.landing-page-button {
  color: #E0D9C6;
  font-size: 25px;
  border: 2px solid #E0D9C6;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 1px;
}

.landing-page-button a {
  text-decoration: none !important;
}

.landing-page-button:hover {
  opacity: 0.6;
  transition: all 0.9s ease 0s;
  text-decoration: none;
}

.add-cart-button {

  color: white;
  text-align: center;
  font-size: 25px;
  background-color: #F9DC5C;
  padding: 10px;
  border-radius: 1px;
  margin-top: 30vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.add-cart-button:hover {
  color: black;
  opacity: 0.5;
  transition: all 0.9s ease 0s;
}
