.button {
  text-decoration: none;
  font-size: $header3;
  font-family: "Roboto";
  font-weight: 400;
  line-spacing: 1px;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: $shadow;
  transition: all 200ms ease;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.95;
    box-shadow: $shadow-hover;
  }
}

.button-beige {
  color: white;
  background: $beige-brand;
}

.button-blue {
  background: $blue-brand;
  color: $white;
}

.button-blue-transparent {
  border: 2px solid $blue-brand;
  color: $blue-brand;
  &:hover {
    color: $blue-brand;
  }
}






.add-cart-button {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  background: #C3AC96;
  border-radius: 4px;
  transition: all 200ms ease;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
  }
}


.add-cart-button:hover {
  color: black;
  opacity: 0.5;
  transition: all 0.9s ease 0s;
}

.landing-page-button {
  color: #E0D9C6;
  font-size: 25px;
  border: 2px solid #E0D9C6;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 1px;
}

.landing-page-button a {
  text-decoration: none !important;
}

.landing-page-button:hover {
  opacity: 0.6;
  transition: all 0.9s ease 0s;
  text-decoration: none;
}

.payment-button {
  display: flex;
  justify-content: space-around;
  border-radius: 0 !important;
}

.button {
  text-decoration: none;
  font-size: $header3;
  font-family: "Roboto";
  font-weight: 400;
  line-spacing: 1px;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: $shadow;
  transition: all 200ms ease;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.95;
    box-shadow: $shadow-hover;
  }
}

.button-beige {
  color: white;
  background: $beige-brand;
}

.stripe-button-el {
  background-image: linear-gradient(#C3AC96 80%,#C3AC96 80%) !important;
  border-radius: 3px !important;
  background-color: #C3AC96 !important;
  // opacity: 0.8 !important;
  text-align: center;
}

// .stripe-button-el:after {
// }

.stripe-button-el span {
  font-weight: !important;
  background-color: #C3AC96 !important;
  text-shadow: 0 0px 0 rgba(0,0,0,0.25) !important;
  font-family: "Roboto" !important;
  font-size: 18px !important;
  background-image: linear-gradient(#C3AC96 80%, #C3AC96 80%, #C3AC96 80%) !important;
  color: white !important;
  height: 5vh !important;
  width: 12vw !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease !important;
}

.stripe-button-el:hover span {
  color: white !important;
  // opacity: 0.5 !important;
  text-decoration: none !important;
  opacity: 0.9 !important;
}

.place-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 25px;
  background-color: #C3AC96;
  border-radius: 1px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 15vw;
  height: 8vh;
  opacity: 0.8;
}

.place-order-button:hover {
  color: black;
  opacity: 0.5;
  transition: all 0.9s ease 0s;
  text-decoration: none;
}

.place-order-wrapper > a {
  text-decoration: none;
  background: red;
}

.delete-order-outfit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 25px;
  border-radius: 1px;
  width: 15vw;
  height: 8vh;
}

.delete-button-container > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

// .delete-button-container > a:hover:before {
//   visibility: visible;
//   -webkit-transform: scaleX(1);
//   transform: scaleX(1);
// }

.delete-button-container > a {
  position: absolute;
  color: $blue-brand;
  text-decoration: none;
  padding: 3px 6px;
  border: 1px solid $blue-brand;
  font-size: 12px;
  // opacity: 0.9;
  border-radius: 5px;
  transition: all 0.2s ease;
  bottom: 20px;
  left: 3vw;
}

.delete-button-container > a:hover {
  // color: #000;
  background: $blue-brand;
  color: white;
  text-decoration: none;
}

.delete-button-container {
  font-size: 15px;
  display: flex;
  margin-top: 8px;
}

.delete-order-outfit-button:hover {
  color: black;
  opacity: 0.5;
  transition: all 0.9s ease 0s;
  text-decoration: none;
}

.size-select {
  width: 100%;
  border: 2px;
  border-color: $grey-dark;
  border-radius: 0 !important;
  background-color: white !important;
  color: $grey-dark;
}

.navbar-wagon-right a {
  color: #E0D9C6 !important;
  padding-right: 12px;
}

.navbar-wagon-right a:hover {
  text-decoration: none !important;
  transition: all 0.9s ease 0s !important;
  color: white !important;
}


