.home-card {
  // text-align: center;
  // display: table;
  // justify-content: space-around;
  // width: 100%;
  // height: auto;
  // background-color: white;
  // margin-left: 10vw;
  // margin-bottom: 10vh;
  // margin-left: auto;
  // margin-right: auto;
  // color: black;
  height: 100vh;
  width: 100%;
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-top: 40px;
}

.home-card:hover {
  transform: scale(1.02);
  overflow: hidden;
}

#casual {
  background-image: asset-url("casual.jpeg");
}

#formal {
  background-image: asset-url('Formal_Test.jpg');
}

#casual:hover {
  transform: scale(1.02);
}

#formal:hover {
  transform: scale(1.02);
}

#date-night {
  background-image: asset-url("casual.jpeg");
}

#date-night:hover {
  background-image: asset-url("casual.jpeg");
  background-position: 30% 70%;
}

// #business-casual {
//   background-image: ;
// }

#weekend-chill {
  background-image: asset-url("casual.jpeg");
}

#weekend-chill:hover {
  background-image: asset-url("casual.jpeg");
  // background-position: 20% 20%;
}

.home-card-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E0D9C6;
}

.home-card-gradient p {
  color: white;
  font-size: 25px;
  font-weight: 200;
  padding: 10px;
  letter-spacing: 3px;

}

.home-card-gradient:hover {
  transition: all 1s ease 0s;
  background-image: linear-gradient(rgba(40, 40, 40, 0.4), rgba(40, 40, 40, 0.1));
}


.home-card-formal {
  height: 100vh;
  width: 100%;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-card-formal p {
  text-decoration: none !important;
}

.home-card-formal p:hover a {
  text-decoration: none !important;
}

.home-card-formal:hover {
  // opacity: 0.5;
  transition: all 0.9s ease 0s;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
    visibility: hidden;
    color: black;
}

.outfit-card-description {
  height: 100vh;
  background-color: white;
  box-shadow: 2px 1px 1px 1px #FFFFFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: left !important;
  padding-left: 5vw;
  padding-right: 5vw;
}

.outfit-card-description h1 {
  margin-top: 0 !important;
  padding-top: 8vh;
  font-size: 27px;
  letter-spacing: 1px;
}

.outfit-card-description p {
  margin-top: 0 !important;
  font-size: 18px;
  padding-top: 5vh;
  letter-spacing: 1px;
  line-height: 30px;
}

.outfit-card-image {
  height: 100vh;
  width: 100%;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.outfit-index-card {
  height: auto;
  width: 20vw;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.outfit-subheader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.outfit-index-card-wrapper > a {
  text-decoration: none;
  color: black;
}

.outfit-index-card-wrapper:hover > a {
  text-decoration: none;
  color: black;
}

.outfit-index-card:hover {
  transition: all 0.9s ease 0s;
  opacity: 0.8;
}

.outfit-item-card:hover hr {
  visibility: visible;
  color: black;
}

.outfit-item-card {
  height: 40vh;
  width: 100%;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 2vh;
}

.outfit-item-card p {
  visibility: hidden;
  letter-spacing: 1px;
  font-size: 12px;
}

.outfit-item-wrapper {
  height: 40vh;
  width: 100%;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 2vh;
  padding: 5px;
}

.outfit-item-wrapper:hover {
  background-color: white;
  transition: all 0.9s ease;
}

.outfit-item-card:hover {
  background-color: white;
  background-image: white !important;
  transition: all 0.9s ease;
  color: black;
}

.outfit-item-card:hover p {
  visibility: visible;
  overflow: visible;
}

.order-card {
  text-align: left;
  padding-left: 3vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  height: 45vh;
  background-color: white;
}

.orders-card {
  text-align: left;
  padding-left: 3vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  height: 45vh;
  background-color: white;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.order-card h2 {
  margin-top: 0 !important;
  padding-top: 5vh;
  font-size: 20px;
}

.order-card p {
  padding-top: 1px;
  font-size: 15px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}

.order-card-img {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 45vh;
}

