.home-card {
  // text-align: center;
  // display: table;
  // justify-content: space-around;
  // width: 100%;
  // height: auto;
  // background-color: white;
  // margin-left: 10vw;
  // margin-bottom: 10vh;
  // margin-left: auto;
  // margin-right: auto;
  // color: black;
  height: 100vh;
  width: 100%;
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-card:hover {
  // opacity: 0.5;

  transition: all 0.9s ease;

}

.home-card-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E0D9C6;
}

.home-card-gradient p {
  color: #E0D9C6;
  font-size: 25px;
  border: 2px solid #E0D9C6;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 1px;
}

.home-card-gradient:hover {
  transition: all 1s ease 0s;
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.1));
}


.home-card-formal {
  height: 100vh;
  width: 100%;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-card-formal:hover {
  // opacity: 0.5;
  transition: all 0.9s ease 0s;
}
