.order-item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 30px;
}

#size {
  margin-right: 4vw;
}

#size-value {
  border: 1px solid #E0D9C6;
  color: #E0D9C6;
  margin-right: 3vw;
  width: 2vw;
  text-align: center;
  margin-bottom: 0;
}

#size-value p {
  margin-bottom: 0 !important;
}

#size-cluster {
  display: flex;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  justify-content: center;
}

.login-wrapper {
   width: 30vw;
   height: 50vh;
   align-items: vertical;
   // padding: 2vw;

   // background-color: #3A475B;
   // color: #E0D9C6;
   border-radius: 3px;
   // box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.order-items {
  display: flex;
  justify-content: space-around;
}

.status {
  padding-left: 40px;
  bottom: 0;
  display: table-cell;
  bottom: 0;
  position: absolute;
  // justify-content: space-between;
}
