.order-item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 30px;
}

#size {
  margin-right: 4vw;
}

#size-value {
  border: 1px solid #E0D9C6;
  color: #E0D9C6;
  margin-right: 3vw;
  width: 2vw;
  text-align: center;
  margin-bottom: 0;
}

#size-value p {
  margin-bottom: 0 !important;
}

#size-cluster {
  display: flex;
  justify-content: space-between;
}
